<div class="navbar-form navbar-right">
  <%= search_form_for @q do |f| %>
    <%= f.search_field :title_cont, placeholder: "Search...", class: "form-control" %>
  <% end %>
</div>
<% @questions.each do |question| %>
  <div class="question row clearfix">
    <h2>
      <%= link_to question.title, question %><br>
      <small class="author">Submitted <%= time_ago_in_words(question.created_at) %> by <%= question.user.username %></small>
    </h2>
    <p id="question_<%= question.id %>_likes"><%= render partial: "likes", locals: {question: question} %></p>
  </div>
<% end %>
