<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Pro tip url:</strong>
  <%= @question.pro_tip_url %>
</p>

<% if @question.user == current_user %>
  <td><%= link_to 'Edit', edit_question_path(@question) %></td>
  <td><%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>